body {
    background-color: white;
    color: black;
    width: 960px;
    margin: auto;
}

header {
    width: 100%;
    float: left;
}
.bar {
    float: left;
}

.bar:p {
    width: 300px;
}

.delicious {
    font-family: 'Yellowtail', cursive;
    font-size: 60px;
    color: red;
}

.best-food {
    font-family: 'Abel', sans-serif;
}

.chocpizza {
    font-family: 'Anton', sans-serif;
}

.postdate {
    font-family: 'Abel', sans-serif;
}
p {
    text-indent: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.recipe {
    background-image: url(../images/list-bg.png);
    background-repeat: no-repeat;
    font-family: 'Patrick Hand', cursive;
}

.ingred1 {
    float: left;
    margin: 40px 40px 40px 40px;

}

.ingred2 {
    float: right;
}

button {
    font-family: 'Abel', sans-serif;
    background-color: rgb(207, 106, 76);
    color: white;
    padding: 10px 30px 10px 30px;
    float: right;
}

footer {
    align-content: center;
}
